<!-- <h2 class="mb-4"> Hii, <%= user.name %> </h2>

<form action="/logout" method="POST">
    <button type="submit"> Logout </button>
</form> -->


<%- include('layouts/header.ejs') %>

    <h2 class="mb-4"> Hii, <%= user.name %>
    </h2>

    <div class="row">
        <div class="col-md-3">
            <ul class="list-group" style="list-style-type:none">
                <% if(users.length> 0){
                    for(let i=0; i<users.length; i++){ %>
                        <!-- <li class="list-grout-item list-group-item-dark"> -->
                        <li style="cursor: pointer;" class="user-list  list-group-item list-group-item-dark d-flex align-items-center mb-2 rounded shadow-sm border-start border-secondary border-3">
                            <img src="<%= 'http://localhost:7000/' + users[i]['image'] %>" alt="" width="65px" height="65px">
                            <%= users[i]['name'] %>
                            <%
                                if(users[i]['is_online'] == '1'){
                                    %>
                                        <sup class="text-success" id="<%= users[i]['_id'] %>-status">Online</sup>
                                    <%
                                } else {
                                    %>
                                        <sup class="text-danger" id="<%= users[i]['_id'] %>-status">Offline</sup>
                                    <%
                                }
                            %>
                        </li>
                        <% }
                     } %>
            </ul>
        </div>
        <div class="col-md-9">
            <h3 class="start-head">Click to start the chat</h3>
            <div class="chat-section" style="display: none;">
                <div id="chat-container" style="background-color: lightblue; width: 100%; height: 400px; overflow: scroll;"></div>
                <form action="" id="chat-form">
                    <input type="text" style="width: 75%;" class="border" name="message" placeholder="Enter Message" id="message" required>
                    <input type="submit" value="Send Message" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

    <script>
        let senderId = '<%= user._id %>';
        let socket = io('/user-namespace', {
            auth:{
                // token: '<%= user._id %>'
                token: senderId
            }
        });


        $(document).ready(function(){
            $(".user-list").click(function(){
                $(".start-head").hide();
                $(".chat-section").show();
            });
        });

        // update user online status
        socket.on('getOnlineUser', function(data){
            $('#'+data.user_id+'-status').text('Online');
            $('#'+data.user_id+'-status').removeClass('text-danger');
            $('#'+data.user_id+'-status').addClass('text-success');
        });

        // update user offline status
        socket.on('getOfflineUser', function(data){
            $('#'+data.user_id+'-status').text('Offline');
            $('#'+data.user_id+'-status').removeClass('text-success');
            $('#'+data.user_id+'-status').addClass('text-danger');   
        });
    </script>

    <%- include('layouts/footer.ejs') %>